@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: beige;
}

input {
    background-color: antiquewhite;
    text-align: center;
}

button {
    background-color: thistle;
    padding: 2px 4px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.center-screen * {
    margin: 2px 0px;
}

.center-horizontally {
    width: 95%;
    margin: auto;
    display: block;
}

.log-out {
    display: grid;
    height: 50%;
    transform: translateY(50%);
    /* width: 8%; */
    /* margin-top: 20px; */
}