@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: beige;
}

input {
    background-color: antiquewhite;
    text-align: center;
}

button {
    background-color: lavender;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.center-screen * {
    margin: 2px 0px;
}

.center-horizontally {
    width: 95%;
    margin: auto;
    display: block;
}

.log-in-out {
    display: grid;
    width: 10%;
    margin-top: 20px;
}