.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
  
table {
  border-collapse: collapse;
  width: 95%;
  border: 5px solid black;
}

th, td {
  text-align: center;
  padding: 8px;
  font-size: 32px;
  border: 1px solid black;
}

th {
  background-color: #75c9fa;
}

td {
  background-color: #cdebfd;
}

form {
  display: inline-block;
}

form td:last-child {
  white-space: nowrap;
}

form td:last-child button {
  display: inline-block;
  margin: 0px 8px;
}

.table-form {
  display: flex;
  margin: 20px 0px;
}

.table-form * {
  font-size: 18px;
  margin: auto;
}

.add-form {
  display: table;
  margin: auto;
}

.add-form h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.add-form form * {
  font-size: 18px;
  margin-right: 20px;
}