.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
  
table {
  border-collapse: collapse;
  width: 95%;
  /* margin: auto;
  margin-top: 20px;
  margin-bottom: 20px; */
  border: 5px solid black;
}

th, td {
  text-align: center;
  padding: 8px;
  font-size: 32px;
  border: 1px solid black;
}

th {
  background-color: #75c9fa;
}

td {
  background-color: #cdebfd;
}

/* td input {
  background-color: antiquewhite;
} */

form {
  display: inline-block;
}

form td:last-child {
  white-space: nowrap;
}

form td:last-child button {
  /* width: 40%; */
  /* background-color: antiquewhite; */
  display: inline-block;
  margin: 0px 8px;
  /* justify-content: space-evenly; */
}

.table-form {
  display: flex;
  /* gap: 5px; */
  margin: 20px 0px;
}

.table-form * {
  font-size: 18px;
  margin: auto;
}

.add-form {
  display: table;
  margin: auto;
  /* margin: 20px 20px; */
}

.add-form h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.add-form form * {
  font-size: 18px;
  margin-right: 20px;
}